@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Hind');

@-webkit-keyframes blink {
	100% { color: rgba(34, 34, 34, 0); }
}

@keyframes blink {
	100% { color: rgba(34, 34, 34, 0); }
}

@-webkit-keyframes spinner {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}


/*
@keyframes show {
    0% {
        display: none;
        position: fixed;
        left: 3000px;
    }
    100% {
        display: block;
        left: 0px;
        position: relative;
    }
}
*/

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes showInst {
    from {
    	height: 0px;
        /* opacity: 0; */
    }
    to {
    	height: 550px;
        /* opacity: 1; */
    }
}

@keyframes hideInst {
    from {
    	height: 550px;
        /* opacity: 1; */
    }
    to {
    	height: 0px;
        /* opacity: 0; */
    }
}

@-moz-keyframes slide {
	from {height: 0;}
	to {height: 300px;}
}

@-webkit-keyframes slide {
	from {height: 0;}
	to {height: 300px;}
}

@keyframes slide {
	from {height: 0;}
	to {height: 300px;}
}

/* Main */

body {
	margin: 0px;
}

p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: justify;
}

::-moz-selection {
	background-color: #D6CFA2;
}

::selection {
	background-color: #D6CFA2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	display: inline;
}

h2 {
	color: #E0E0E0;
	background-color: #222222;
	padding-left: 8px;
	padding-right: 8px;
}

h3 {
	color: black;
	border-bottom: 3px;
	border-bottom-color: black;
	border-bottom-style: solid;
}
/*
mark {
	color: black;
	background-color: #F9966B;
}
*/
.markSus {
	color: unset;
	background-color: unset;
}
/* Header */

header {
	width: 100%;
	background-color: black;
	padding: 15px;
	text-align: left;
	vertical-align: center;
  	position: fixed;
  	z-index: 1000;
}

#dashboartContainer {
	display: inline;
}

#dashboard {
	color: #F6EFC2;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: inline;
}

nav {
    background-color: #F6EFC2;
    min-height: 80px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

#navText {
    background-color: black;
    color: #F6EFC2;
    font-size: 23px;
    display: inline;
}

.instLink {
    color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	transition: 0.2s;
}

.instLink:hover {
	color: #666655;
    border-color: #666655;
    margin-left: 5px;
    padding-left: 11px;
    padding-right: 11px;
}

#instLinkHide {
	height: 0px;
	display: none;
}

#instruction {
    background-color: #C5BF9B;
    padding-top: 0px;
	display: none;
/*
   -moz-animation: slide 1s forwards;
   -webkit-animation: slide 1s forwards;
   -o-animation: slide 1s forwards;
   -ms-animation: slide 1s forwards;
    animation: slide 1s forwards;
    */
}

#instText {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0px;
    animation: show 0.5s ease-in-out;
}

/* Section */

section {
	min-height: 1000px;
	padding: 25px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

article {
	background-color: #F2F2F2;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	animation: show 0.4s ease-in-out;
}

.center {
	text-align: center;
}

#uploadContainer {
	background-color: #333333;
    color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.2s;
	display: inline-block;
	cursor: pointer;
}

#uploadContainer:hover {
	color: #C0C0C0;
    padding-left: 20px;
    padding-right: 20px;
}

#uploadContainer [type=file] {
	display: none;
}

#loaderSpinner {
	border: 5px;
	border-style: solid;
	border-color: #CCCCCC;
	border-radius: 50%;
	border-top-color: #444444;
	width: 50px;
	height: 50px;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
	margin-bottom: 15px;
	display: none;
}

#loaderText {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	-webkit-animation: blink 1s ease-in-out alternate-reverse infinite;
	animation: blink 1s ease-in-out alternate-reverse infinite;
	text-align: center;
	text-transform: uppercase;
	display: none;
}

.resultButton {
    color: black;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
	display: none;
	border: 1px;
	border-style: solid;
	border-color: #333333;
}

.resultButton:hover {
	color: #666666;
	border-color: #666666;
    padding-left: 20px;
    padding-right: 20px;

}

.messageContainer {
	display: block;
	margin-top: 5px;
	padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
	border: 1px;
	border-style: solid;
	border-color: #444444;
}

.messageContainer:hover {
	background-color: #E7E6E1;
}

.typeContainer {
	width: 20%;
	max-width: 120px;
	display: inline-block;
	vertical-align: top;
}

.dataContainer {
	width: 75%;
	display: inline-block;
	vertical-align: top;
}

.messageType {
	color: #393232;
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-right: 10px;
	word-wrap: break-word;
}

.messageData {
	color: #444444;
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	word-wrap: break-word;
}

.propertiesContainer {
	display: inline-block;
	margin-left: 5px;
}

.propertiesText {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

input[type="text"].inputProperty {
	display: inline;
	width: 50px;
	height: 15px;
	color: #444444;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

input[type="checkbox"].switch {
	font-size: 12px;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 3.5em;
	height: 1.5em;
	background: #DDDDDD;
	border-radius: 3em;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
  }
  
input[type="checkbox"].switch:checked {
	background: #F75D59;
}
  
input[type="checkbox"].switch:after {
	position: absolute;
	content: "";
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	background: #FFFFFF;
	-webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
	        box-shadow: 0 0 .25em rgba(0,0,0,.3);
	-webkit-transform: scale(.7);
	        transform: scale(.7);
	left: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
  
input[type="checkbox"].switch:checked:after {
	left: calc(100% - 1.5em);
}

/* Footer */

footer {
	height: 50px;
	background-color: black;
	padding: 10px;
}

#footerText {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	opacity: 0.9;
}
