@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Hind');

@-webkit-keyframes blink {
	100%	{ color: rgba(34, 34, 34, 0); }
}

@-moz-keyframes blink {
	100%	{ color: rgba(34, 34, 34, 0); }
}

@keyframes blink {
	100%	{ color: rgba(34, 34, 34, 0); }
}

@-webkit-keyframes spinner {
	0%		{ -webkit-transform: rotate(0deg); }
	100%	{ -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spinner {
	0%		{ -moz-transform: rotate(0deg); }
	100%	{ -moz-transform: rotate(360deg); }
}

@keyframes spinner {
	0%		{ transform: rotate(0deg); }
	100%	{ transform: rotate(360deg); }
}

@-webkit-keyframes show {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@-moz-keyframes show {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@keyframes show {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@-webkit-keyframes showInst {
    from	{ height: 0px; }
    to		{ height: 600px; }
}

@-moz-keyframes showInst {
    from	{ height: 0px; }
    to		{ height: 600px; }
}

@keyframes showInst {
    from	{ height: 0px; }
    to		{ height: 600px; }
}

@-webkit-keyframes hideInst {
    from	{ height: 600px; }
    to		{ height: 0px; }
}

@-moz-keyframes hideInst {
    from	{ height: 600px; }
    to		{ height: 0px; }
}

@keyframes hideInst {
    from	{ height: 600px; }
    to		{ height: 0px; }
}

/* Main */

body {
	margin: 0px;
}

p {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	text-align: justify;
}

::-webkit-selection {
	background-color: #D6CFA2;
}

::-moz-selection {
	background-color: #D6CFA2;
}

::selection {
	background-color: #D6CFA2;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	display: inline;
}

h2 {
	color: #E0E0E0;
	background-color: #222222;
	padding-left: 8px;
	padding-right: 8px;
}

h3 {
	color: black;
	border-bottom: 3px;
	border-bottom-color: black;
	border-bottom-style: solid;
}

.markSus {
	color: unset;
	background-color: unset;
}

/* Header */

header {
	width: 100%;
	background-color: black;
	padding: 15px;
	text-align: left;
	vertical-align: center;
  	position: fixed;
  	z-index: 1000;
}

#dashboartContainer {
	display: inline;
}

#dashboard {
	color: #F6EFC2;
	background-color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	display: inline;
}

nav {
    background-color: #F6EFC2;
    min-height: 80px;
    padding-top: 80px;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

#navText {
    background-color: black;
    color: #F6EFC2;
    font-size: 23px;
    display: inline;
}

.instLink {
    color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-decoration: none;
    padding: 7px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	transition: 0.2s;
}

.instLink:hover {
	color: #666655;
    border-color: #666655;
    margin-left: 5px;
    padding-left: 11px;
    padding-right: 11px;
}

#instLinkHide {
	height: 0px;
	display: none;
}

#instruction {
    background-color: #C5BF9B;
    padding-top: 0px;
	display: none;
}

#instText {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 120px;
    padding-right: 120px;
    margin: 0px;
    -webkit-animation: show 0.5s ease-in-out;
       -moz-animation: show 0.5s ease-in-out;
    		animation: show 0.5s ease-in-out;
}

/* Section */

section {
	padding: 25px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

article {
	background-color: #F2F2F2;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
    -webkit-animation: show 0.4s ease-in-out;
       -moz-animation: show 0.4s ease-in-out;
    		animation: show 0.4s ease-in-out;
}

.center {
	text-align: center;
}

#uploadContainer {
	background-color: #333333;
    color: white;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
			transition: 0.2s;
}

#uploadContainer:hover {
	color: #C0C0C0;
    padding-left: 20px;
    padding-right: 20px;
}

#uploadContainer [type=file] {
	display: none;
}

#loaderSpinner {
	border: 5px;
	border-style: solid;
	border-color: #CCCCCC;
	border-radius: 50%;
	border-top-color: #444444;
	width: 50px;
	height: 50px;
	margin-bottom: 15px;
	display: none;
	-webkit-animation: spinner 1.5s linear infinite;
	   -moz-animation: spinner 1.5s linear infinite;
			animation: spinner 1.5s linear infinite;
}

#loaderText {
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-align: center;
	text-transform: uppercase;
	display: none;
	-webkit-animation: blink 1s ease-in-out alternate-reverse infinite;
	   -moz-animation: blink 1s ease-in-out alternate-reverse infinite;
			animation: blink 1s ease-in-out alternate-reverse infinite;
}

.resultButton {
    color: black;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
	margin-bottom: 15px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
	display: none;
	border: 1px;
	border-style: solid;
	border-color: #333333;
	-webkit-transition: 0.2s;
	   -moz-transition: 0.2s;
			transition: 0.2s;
}

.resultButton:hover {
	color: #666666;
	border-color: #666666;
}

.messageContainer {
	display: block;
	margin-top: 5px;
	padding: 4px;
    padding-left: 15px;
    padding-right: 15px;
	border: 1px;
	border-style: solid;
	border-color: #444444;
}

.messageContainer:hover {
	background-color: #E7E6E1;
}

.typeContainer {
	width: 20%;
	max-width: 120px;
	display: inline-block;
	vertical-align: top;
}

.dataContainer {
	width: 75%;
	display: inline-block;
	vertical-align: top;
}

.messageType {
	color: #393232;
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	margin-right: 10px;
	word-wrap: break-word;
}

.messageData {
	color: #444444;
	display: inline;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	word-wrap: break-word;
}

.propertiesContainer {
	display: inline-block;
	margin-left: 5px;
}

.propertiesText {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
}

input[type="checkbox"].switch {
	background-color: white;
	width: 50px;
	height: 14px;
	border: 4px;
	border-right: 37px;
	border-style: solid;
	border-color: #DDDDDD;
	border-radius: 10px;
	cursor: pointer;
	outline: none;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	-webkit-transition: border 0.5s ease-in-out;
	   -moz-transition: border 0.5s ease-in-out;
	        transition: border 0.5s ease-in-out;
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
	   -moz-box-shadow: inset 0 0 1px rgba(0,0,0,.3);
			box-shadow: inset 0 0 1px rgba(0,0,0,.3);
}

input[type="checkbox"].switch:checked {
	border: 4px;
	border-left: 37px;
	border-style: solid;
	border-color: #F75D59;
	border-radius: 10px;
}

/* Footer */

footer {
	height: 50px;
	background-color: white;
	padding: 10px;
}

#footerText {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	text-align: center;
	opacity: 0.9;
}
