<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dashboard</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
	</head>

	<body>
		<!--Header-->
		<header>
			<div id="dashboartContainer">
				<h3 id="dashboard">Dashboard</h3>
			</div>

			<ul>
				<li><a class="menuLink" onclick="menu(1);">Instruction</a></li>
				<li><a class="menuLink" onclick="menu(2);">Scan</a></li>
				<li><a class="menuLink" onclick="menu(3);">Statistic</a></li>
			</ul>
		</header>

        <nav>
            <p id="navText">
                "We are use Cuckoo Sandbox 2.0.4 to scan files. More information you can find in instruction."
            </p><br /><br />

            <a class="instLink" id="instLinkShow" onclick="instruction('show');">Show Instruction</a>
			<a class="instLink" id="instLinkHide" onclick="instruction('hide');">Hide Instruction</a>
        </nav>

		<div id="instruction">
            <p id="instText">
                Instruction.
            </p>
        </div>

		<!--Section-->
		<section>
			<article id="art1">
				<h3>Instruction</h3>

				<p>
					Supported neglected met she therefore unwilling discovery remainder. Way sentiments two
                    indulgence uncommonly own. Diminution to frequently sentiments he connection continuing
                    indulgence. An my exquisite conveying up defective. Shameless see the tolerably how
                    continued. She enable men twenty elinor points appear. Whose merry ten yet was men seven
                    ought balls.
				</p>
			</article>

			<article id="art2">
				<h3>Reports scan</h3>

                <div align="center">
					<div id="uploadProperties">
                		<p id="center">Choise json report file to scan: </p>

						<div class="propertiesContainer">
							<input type="checkbox" class="switch" id="memoryDump" />
							<p class="propertiesText">Memory Dump</p>
						</div>

						<div class="propertiesContainer">
							<input type="text" class="inputProperty" id="scanTime" />
							<p class="propertiesText">Scan time</p>
						</div>

						<br />

                		<label id="uploadContainer">
                			Upload & Scan
                			<input type="file" id="uploadFile" onchange="upload_report()" formenctype="multipart/form-data" />
                		</label>
					</div>

					<div id="loaderSpinner" align="center"></div>
					<p id="loaderText">Processing</p>

					<div id="uploadBlock" align="left"></div>
                </div>
			</article>

			<!--
			<article>
				<h3>Scan files</h3>

                <div align="center">
                	<p id="center">Choise pdf or doc file to scan: </p>

                	<label class="uploadContainer">
                		Upload & Scan
                		<input type="file" id="uploadFile" onchange="upload_file()" formenctype="multipart/form-data" />
                	</label>

					<div id="loaderSpinner" align="center"></div>

					<div id="uploadBlock" align="left"></div>
                </div>
			</article>
			-->

			<article id="art3">
				<h3>Statistic</h3>

				<p>
					{% if cuckoo_status == "Stopped" %}
						Cuckoo status: <font color="red">{{ cuckoo_status }}</font><br />
					{% else %}
						Cuckoo status: <font color="green">{{ cuckoo_status }}</font><br />
					{% endif %}

					White-list files: {{ files_number }} <br />
					Scanned files: <br />
					Total database size: _ mb <br />
					Average scanning time: <br />
				</p>

			<canvas id="canvasChart"></canvas>

			</article>
		</section>

		<!--Footer-->
		<footer>
			<p id="footerText">Footer</p>
		</footer>

		<script type="text/javascript">
			var data_connections_number = {{ data_connections_number }};
			var file_actions_number = {{ file_actions_number }};
			var connections_number = {{ connections_number }};
			var process_number = {{ process_number }};
			var registry_actions_number = {{ registry_actions_number }};
			var dll_number = {{ dll_number }};
			var command_line_number = {{ command_line_number }};
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='chartMin.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scriptChart.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scriptAjax.js') }}"></script>
	</body>
</html>
