<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dashboard</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_index.css') }}" />
		<style id="marker"></style>
	</head>

	<body>
		<!--Header-->
		<header>
			<div id="dashboartContainer">
				<h3 id="dashboard">Dashboard</h3>
			</div>
		</header>

        <nav>
            <p id="navText">
                "We are use Cuckoo Sandbox 2.0.6 to scan files. More information you can find in instruction."
            </p><br /><br />

            <a class="instLink" id="instLinkShow" onclick="instruction('show');">Show Instruction</a>
			<a class="instLink" id="instLinkHide" onclick="instruction('hide');">Hide Instruction</a>
        </nav>

		<div id="instruction">
            <p id="instText">
                <b>Files types</b><br />
                System oriented on tree main types PDF, DOC, DOCX.<br /><br />
                <b>Maximal size</b><br />
                Maximal available size of file is 20MB.<br /><br />
                <b>Report data</b><br />
                Data which you will see in the report:<br />
				- Information about file: name, type, size, MD5, result of anti-viruses scan<br />
				- Network activity: DNS, HTTP, TCP, UDP<br />
				- Loaded DLL's<br />
				- Commands performed from command line<br />
				- Processes<br />
				- Files activity: created, deleted, copied, opened and written files<br />
				- Folders activity: created and deleted folders<br />
				- Registry activity: readed, deleted, opened and written registry settings<br /><br />
                <b>Scan time</b><br />
				Time typical for file scan is in range 30 second - few minutes.<br /><br />
                <b>Memory dump</b><br />
				Memory dump is optional function, its take a little more time, but in this case report include
				runned processes.<br />

            </p>
        </div>

		<!--Section-->
		<section>
			<article id="art">
				<h3>File scan</h3>

                <div align="center">
					<div id="uploadProperties">
						{% if cuckoo_status == True %}
							<p class="center">Choise file to scan: </p>

							<div class="propertiesContainer">
								<input type="checkbox" class="switch" id="memoryDump" />
								<p class="propertiesText">Memory Dump</p>
							</div>
							<br />

							<label id="uploadContainer">
								Upload & Scan
								<input type="file" id="uploadFile" onchange="request_process('file_check')" formenctype="multipart/form-data" />
							</label>
						{% else %}
							<p class="center">Sorry, Cuckoo Sandbox not available now to scan files. </p>
						{% endif %}
							<br />
							<a class="resultButton" id="generateReportButton" onclick="generate_report()">Generate report file</a>
							<a class="resultButton" id="markWordList" onclick="set_marker_color()">Mark suspicious words</a>
					</div>

					<div id="loaderSpinner" align="center"></div>
					<p id="loaderText">Processing</p>

					<div id="uploadBlock" align="left"></div>
                </div>
			</article>
		</section>

		<!--Footer-->
		<footer>
			<p id="footerText"></p>
		</footer>

		<script type="text/javascript" src="{{ url_for('static', filename='scriptAjaxIndex.js') }}"></script>
	</body>
</html>
