<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dashboard - White-list admin</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_admin.css') }}" />
	</head>

	<body>
		<!--Header-->
		<header>
			<div id="dashboartContainer">
				<h3 id="dashboard">Dashboard</h3>
			</div>

			<ul>
				<li><a class="menuLink" onclick="menu(1);">Change White-list</a></li>
				<li><a class="menuLink" onclick="menu(2);">Statistic</a></li>
			</ul>
		</header>

        <nav>
            <p id="navText">
                "Welcome to control page. More information you can find in instruction."
            </p><br /><br />

            <a class="instLink" id="instLinkShow" onclick="instruction('show');">Show Instruction</a>
			<a class="instLink" id="instLinkHide" onclick="instruction('hide');">Hide Instruction</a>
        </nav>

		<div id="instruction">
            <p id="instText">
                <b>Maximal size</b><br />
                Maximal available size of file which you can scan and add to white-list is 40MB.<br /><br />
                <b>Memory dump</b><br />
				Memory dump is optional function, its take a little more time, but in this case report include
				runned processes.<br /><br />
                <b>Standart set</b><br />
                One of functions is standart set learning. In this case you will add a lot of ready reports (from some
				folder on the server) to white-list. This reports is created on some snapshot, possible this snapshot
				is old and you need more actual reports, in this case you can use script from server which scan lot of
				files and save them reports.<br /><br />
            </p>
        </div>

		<!--Section-->
		<section>
			<article id="art1">
				<h3>White-list</h3>

                <div align="center">
					<div id="uploadProperties">
                		<p>
                            Delete all data from the white-list:
                            <a class="uploadLink" onclick="request_process('clear_list')">Clear</a>
                            <br />
                            Learn standart reports set:
                            <a class="uploadLink" onclick="request_process('learn_set')">Learn</a>
                            <br />
                            Reset statistical data:
                            <a class="uploadLink" onclick="request_process('statistic_reset')">Reset</a>
                        </p>

                        {% if cuckoo_status == True %}
                            <p class="center">Choise file to creat report and add to white-list: </p>

							<div class="propertiesContainer">
								<input type="checkbox" class="switch" id="memoryDump" />
								<p class="propertiesText">Memory Dump</p>
							</div>
							<br />

                            <label class="uploadContainer">
                                Upload & Add
                                <input type="file" id="uploadFile" onchange="request_process('file_add')" formenctype="multipart/form-data" />
                            </label>
						{% else %}
							<p class="center">Sorry, Cuckoo Sandbox not available now to add files to data base. </p>
						{% endif %}
					</div>

					<div id="loaderSpinner" align="center"></div>
					<p id="loaderText">Processing</p>

					<div id="uploadBlock" align="left"></div>
                </div>
			</article>

			<article id="art2">
				<h3>Statistic</h3>

				<p>
					{% if cuckoo_status == True %}
						Cuckoo status: <font color="green">Available</font><br />
					{% else %}
						Cuckoo status: <font color="red">Stopped</font><br />
					{% endif %}

					White-list files: {{ files_number }} <br />
					Scanned files: {{ scans }}<br />
					Total database size: {{ size_db }} MB <br />
					Average scanning time: {{ average_scan_time }} seconds <br />
				</p>

			<canvas id="canvasChart"></canvas>

			</article>
		</section>

		<!--Footer-->
		<footer>
			<p id="footerText"></p>
		</footer>

		<script type="text/javascript">
			var data_connections_number = {{ data_connections_number }};
			var file_actions_number = {{ file_actions_number }};
			var connections_number = {{ connections_number }};
			var process_number = {{ process_number }};
			var registry_actions_number = {{ registry_actions_number }};
			var dll_number = {{ dll_number }};
			var command_line_number = {{ command_line_number }};
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='chartMin.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scriptChart.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='scriptAjaxAdmin.js') }}"></script>
	</body>
</html>
